
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Poppins";
    transition: .5s;
    scroll-behavior:smooth;
}
@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Poppins:wght@200&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
}

/*
 add jumping animation to current projects maybe

*/

body{ 
    background-color: rgb(255, 255, 255);
}

/* header */
header{ 
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 55px 200px;
}
#logo-img{ 
    width: 70px;
    border-radius: 10px;
}
nav{ 
    gap: 40px;
    display: flex;
}
a{ 
 font-size: 25px;
 list-style: none;
 text-decoration: none;
 color: #181818;
 font-family: var(--poppins-reg);
}
nav a{ 
    display: inline-block;
    position: relative;
}
nav a::before{ 
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width .25s ease-out;
}
nav a:hover::before{ 
    width: 100%;
    left: 0;
    right: auto;
}

.left-nav>a{
    text-decoration: none;
    font-size: 2rem;
} 

.left-nav{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.section-a{ 
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70vh;
    gap: 150px;
}
.left>img:hover{ 
    height: 420px;
    width: 420px;
    border-radius: 50%;
}
.left>img{ 
    height: 400px;
    width: 400px;
    border-radius: 50%;
}
.right{ 
    text-align: center;
    line-height: 50px;
    font-family: "Poppins"
}
.right>h1{ 
    font-size: 43px;
}
.right>h3{ 
    color: #696969;
}
.right>h2{ 
    color: #383232;
    font-size: 22px;
}
.buttons>button{ 
    border-radius: 20px;
    padding: 13px 20px;
}
#contact-info{ 
    background-color: #222222;
    color: white;
    border: none;
    padding: 15px 20px;
}
#contact-info:hover{ 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid 1px rgb(0, 0, 0);
} 


#click-me{ 
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: "Poppins";
    margin-right: 10px;
}
#click-me:nth-child(1):hover{ 
    color:rgb(255, 255, 255);
    background-color: #000000;
    padding: 15px 22px;
    cursor: pointer;
    transition: smooth;
    transition: 1s;
}
@media only screen and (max-width: 1300px){
    .left-nav>a{ 
        display: none;
    }
    .left-nav>#logo-img{ 
        width: 60px;
    }
}
@media only screen and (max-width: 1000px){
    header{ 
        padding: 30px 30px;
        width: 100%;
    }
    .section-a{ 
        flex-direction: column;
        gap: 20px;
    }
    #img2{ 
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
    .right{ 
        padding: 0 10px 10px 5px;
    }
    .off-screen-menu{ 
        background: hsla(0, 0%, 8%, 0.4);
        backdrop-filter: blur(.8rem);
        height: 100vh;
        width: 100%;
        max-width: 275px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        font-size: .8rem;
        transition: .3s ease;
    }
    .off-screen-menu>nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem;
    } 
    .off-screen-menu>nav>a{
        color: #000000;
    }
    .off-screen-menu.active{ 
        right: 0;
    }
    .hamburger{ 
        height: 40px;
        width: 40px;
        margin-left: auto;
        position: relative;
        z-index: 9999;
    }
    
    .hamburger div {
        height: 2px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ease;
     }
    
    .hamburger div:nth-child(1){
        top: 25%;
    }
    .hamburger div:nth-child(3){
        top: 75%;
    }
    .hamburger.active div:nth-child(1){ 
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .hamburger.active div:nth-child(2){ 
        opacity: 0;
    } 
    .hamburger.active div:nth-child(3){
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    } 
}

/* Section b Below--------------- */



.about-me-title{ 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.about-me-title>h3{ 
    color: #696969;
}
.about-me-title>h2{ 
    font-size: 6rem;
    color: hsla(0, 0%, 8%, 0.137);
    z-index: -999;
}

#section-b{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 20px;
}
.right-b{ 
    height: 543px;
    width: 100%;
    padding: 30px;
    margin-right: 20px;
    display: flex;
}
.experience{ 
    border: solid black 1px;
    height: 200px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}
.experience>img{ 
    width: 4.6rem;
    padding-top: 10px;
}
.education>img{ 
    width: 5rem;
}


.education{ 
    border: solid black 1px;
    height: 200px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
}
.experience-cards{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.paragraph-under{ 
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 1000px){
    #section-b{ 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0px;
    }
    .right-b{ 
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    .experience{ 
        border: solid black 1px;
        height: 200px;
        width: 50%;
        border-radius: 20px;
        text-align: center;
    }
    .experience>img{ 
        width: 2.6rem;
        padding-top: 10px;
    }
    .education>img{ 
        width: 2.3rem;
    }
    
    
    .education{ 
        border: solid black 1px;
        height: 200px;
        width: 50%;
        border-radius: 20px;
        text-align: center;
    }
    .experience-cards,h2{
        font-size: 1.1rem;
    }
    .experience-cards{ 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }
    .paragraph-under{ 
        padding: 20px;
        width: 100%;
        text-align: center;
        margin: auto;
    }
}
@media only screen and (max-width:500px){ 
    #section-b{ 
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .about-me-title>h2{ 
        width: 100%;
        font-size: 4.7rem;
    }
    .right-b{ 
        height: 543px;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    .experience{ 
        border: solid black 1px;
        height: 150px;
        width: 50%;
        border-radius: 20px;
        text-align: center;
    }
    .experience>img{ 
        width: 2.6rem;
    }
    .education>img{ 
        padding-top: 10px;
        width: 2.6rem;
    }
    .education{ 
        border: solid black 1px;
        height: 150px;
        width: 50%;
        border-radius: 20px;
        text-align: center;
    }
    .experience-cards,h2{
        font-size: 1.1rem;
    }
    .experience-cards,p{
        font-size: 12px;
    }
    .experience-cards{ 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 30px;
    }
    .paragraph-under{ 
        text-align: center;
        margin: auto;
    }
}

/* Section C Below--------------- */
#section-c{ 
    padding-bottom: 100px;
}
.middle-content{ 
    display: flex;
    align-items: center;
    justify-content: center;
}

.expierence-title{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    color: #696969;
}
.expierence-title>h2{ 
    font-size: 6rem;
    color: hsla(0, 0%, 8%, 0.137);
    z-index: -999;
   padding-bottom: 50px;
}
.frontend-development-left, .frontend-development-right{ 
    border: solid black 1px;
    border-radius: 20px;
    padding: 50px 150px;
}
.frontend-development-left:hover{
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 20px;
    padding: 59px 159px;
    background-color: #000000;
    color: white;
}

.frontend-development-right:hover{
    border: solid rgb(255, 255, 255) 1px;
    border-radius: 20px;
    padding: 59px 159px;
    background-color: #000000;
    color: white;
}

.frontend-development-left>h2{ 
    font-size: 26px;
    color: #444444;
    font-weight: bolder;
    text-align: center;
}
.frontend-development-right>h2{ 
    color: #444444;
    font-size: 26px;
    font-weight: bolder;
    text-align: center;

}
.grid-items{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }
 .grid-item>img{ 
    width: 40px;
 }
 .middle-content{ 
    gap: 60px;
 }
@media only screen and (max-width: 1300px){
    .frontend-development-left, .frontend-development-right{ 
        border: solid black 1px;
        border-radius: 20px;
        padding: 30px 80px;
    }
   
    .frontend-development-left:hover{
        border: solid rgb(255, 255, 255) 1px;
        border-radius: 20px;
        padding: 29px 90px;
        background-color: #000000;
        color: white;
    }
    
    .frontend-development-right:hover{
        border: solid rgb(255, 255, 255) 1px;
        border-radius: 20px;
        padding: 29px 90px;
        background-color: #000000;
        color: white;
    }
}

@media only screen and (max-width: 1000px){ 
    #section-c{ 
        margin-top: 75px;
        padding-bottom: 0;
    }

    .middle-content{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .frontend-development-left{
        border: solid black 1px;
        border-radius: 20px;
        padding: 2rem 4rem;
    }
    .frontend-development-left>h2{ 
        font-size: 1.3rem;
    } .frontend-development-right>h2{ 
        font-size: 1.3rem;
    }
    .frontend-development-right{ 
        border: solid black 1px;
        border-radius: 20px;
        padding: 2rem 5.4rem;
    }
    .frontend-development-left:hover{
        border: solid rgb(255, 255, 255) 1px;
        border-radius: 20px;
        padding: 2rem 4rem;
        background-color: #000000;
        color: white;
    }
    .frontend-development-right:hover{
        border: solid rgb(255, 255, 255) 1px;
        border-radius: 20px;
        padding: 2rem 4.5rem;
        background-color: #000000;
        color: white;
    }
    .frontend-development-left>h2:hover{ 
        color: white;
    }
    .frontend-development-right>h2:hover{ 
        color: white;
    }

    .grid-item>img{ 
        width: 30px;
     }
     .expierence-title>h2{ 
        font-size: 4rem;
        color: hsla(0, 0%, 8%, 0.137);
        z-index: -999;
    }
}
/* ---------- Section - D --------------- */

#section-d>h3,h2{ 
    justify-content: center;
    display: flex;
    align-items: center;
}
#section-d>h3{
    color: #696969;
}
#section-d>h2{
    font-size: 5.7rem;
    color: hsla(0, 0%, 8%, 0.137);
    z-index: -999;
    margin-bottom: 80px;
}
#section-d{ 
    margin-top: 30px;
}

.middle-project-content { 
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 50px;
}
.box-1,.box-2,.box-3{ 
    border: solid black 1px;
    padding: 25px 20px 25px 20px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}
#box-1-img{ 
    width: 350px;
    height: 450px;
    border-radius: 30px;
    object-fit:cover;
}
.box-1>h3{ 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #696969;
    padding-top: 10px;
    font-size: 16px;
}
#b1:hover{ 
    color:rgb(255, 255, 255);
    background-color: #000000;
    padding: 13px 20px;
    cursor: pointer;
    transition: smooth;
    transition: 1s;
}
#b1{ 
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: "Poppins";
    border-radius: 20px;
    padding: 13px 20px;
}
#b2:hover{ 
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    border: solid black 1px;
}
#b2{ 
    border-radius: 20px;
    color:rgb(255, 255, 255);
    background-color: #000000;
    padding: 15px 22px;
    cursor: pointer;
    transition: smooth;
    transition: 1s;
}
.buttons-under-imgs{ 
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
#scroll-buttons-1 ,#scroll-buttons-2{ 
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #00000033;
    cursor: pointer;
}
#scroll-buttons:hover{
    background-color: #00000050;
} 

@media only screen and (max-width: 1800px){ 
    .box-1,.box-2,.box-3{ 
        border: solid black 1px;
        padding: 20px 17px 20px 17px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
    #box-1-img{ 
        width: 200px;
        height: 250px;
        border-radius: 15px;
        object-fit:cover;
    }
    #b2:hover{ 
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        border: solid black 1px;
        cursor: pointer;
    }
    #b2{ 
        border-radius: 20px;
        color:rgb(255, 255, 255);
        background-color: #000000;
        padding: 10px 17px;
        cursor: pointer;
        transition: smooth;
        transition: 1s;
        font-size: 12px;
    }
    #b1:hover{ 
        color:rgb(255, 255, 255);
        background-color: #000000;
        padding: 10px 18px;
        cursor: pointer;
        transition: smooth;
        transition: 1s;
    }
    #b1{ 
        border: solid 1px rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        font-family: "Poppins";
        border-radius: 20px;
        padding: 13px 20px;
    }
    .box-1>h3{ 
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #696969;
        padding-top: 5px;
        font-size: 12px;
    }
    .middle-project-content>.box-1>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    .middle-project-content>.box-2>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    .middle-project-content>.box-3>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    .box-1>h3{ 
        display: none;
    }
    .middle-project-content {
        gap: 15px;
    } 
    #section-d{
        margin-top: 20px;
    }
    
}
@media only screen and (max-width: 1000px){
    .box-1,.box-2,.box-3{ 
        border: solid black 1px;
        padding: 30px 23px 30px 23px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    }
    .middle-project-content{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    #section-d{ 
        margin-top: 100px;
    }
    #projects{ 
        font-size: 3.8rem;
    }
    #box-1-img{ 
        width: 300px;
        height: 300px;
        border-radius: 15px;
        object-fit:cover;
    }
    #b2:hover{ 
        background-color: #ffffff;
        color:rgb(0, 0, 0);
        border: solid black 1px;
        cursor: pointer;
    }
    #b2{ 
        border-radius: 20px;
        color:rgb(255, 255, 255);
        background-color: #000000;
        padding: 10px 17px;
        cursor: pointer;
        transition: smooth;
        transition: 1s;
        font-size: 12px;
    }
    #b1:hover{ 
        color:rgb(255, 255, 255);
        background-color: #000000;
        padding: 15px 22px;
        cursor: pointer;
        transition: smooth;
        transition: 1s;
    }
    #b1{ 
        border: solid 1px rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        font-family: "Poppins";
        border-radius: 20px;
        padding: 10px 17px;
    }
    .box-1>h3{ 
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #696969;
        padding-top: 5px;
        font-size: 12px;
    }
    .middle-project-content>.box-1>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    .middle-project-content>.box-2>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    .middle-project-content>.box-3>h2{ 
        font-size: 20px;
        margin: 5px 15px 0 0;
        text-align: center;
    }
    
}


#section-e{ 
    margin-top: 100px;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(0, 0, 0);
    gap: 100px;
    background-color: #cacaca28;
}
.left-footer>h2{
    margin-bottom: 30px; 
    font-size: 1.5rem;

}
.social-logos>a>img{
    height: 50px; 
    margin-right: 20px;
}
.right-footer{ 
    padding-top: 65px;
    padding-bottom: 65px;
}
.right-footer>input{
    margin-bottom: 40px;
} 
.right-footer>h2{ 
    font-size: 3rem;
    margin-bottom: 29px;
    display: block;
    text-align: start;
    color:hsla(0, 0%, 8%, 0.678);

}
#email, #message{
    margin-bottom: 40px;
}
.bottom-email-section{ 
    flex-direction: column;
    align-items: left;
    justify-content: center;
    display: flex;
}
input::placeholder{
    color: #000000;
}
textarea::placeholder{
    color: #000000;
}
#full-name:focus, #subject:focus, #email:focus, #message:focus{ 
    outline: none;
}
#full-name{
    margin-right: 50px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
    padding-right: 20px;
    margin-bottom: 10px;
}
#subject{ 
    margin-right: 50px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
    width: 100%;
}
#email{ 
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 1rem;
    margin-bottom: 20px;
}

#message{ 
    color: black;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    border-radius: 10px;
    padding: 2px;
}

.submit-button{ 
    padding: 10px 20px;
    background-color: transparent;
    border: solid black 1px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button:hover{ 
    cursor: pointer;
    color: white;
    background-color: black;
} 

@media only screen and (max-width: 1000px){
    #section-e{ 
        margin-top: 100px;
        padding: 70px 30px 0 0;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
        color: rgb(0, 0, 0);
        gap: 100px;
    }
    .bottom-email-section{ 
        flex-direction: column;
        align-items: left;
        justify-content: center;
        display: flex;
    }
    .social-logos>a>img{
        height: 30px; 
    }
    .left-footer>h2{
        margin-bottom: 25px; 
        font-size: 2rem;
    }
    .left-footer{ 
        margin-top: 0;
    }
    .right-footer>h2{ 
        font-size: 2.1rem;
        margin-bottom: 29px;
        display: flex;
        text-align: start;
    }
}
@media only screen and (max-width: 430px){
    .right-footer>h2{ 
        font-size: 3rem;
        padding-bottom: 29px;
        display: flex;
        text-align: center;
        color: #6969694d;
    }
    .right-footer{
        justify-content: center;
        align-items: start;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    #full-name{
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-size: 1rem;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 1px;
    }
    #subject{ 
        margin-bottom: 20px;
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-size: 1rem;
        width: 100%;
    }
    #email{ 
        color: rgb(0, 0, 0);
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        font-size: 1rem;
        margin-bottom: 20px;
        width: 100%;
    }
    
    #message{ 
        color: black;
        background-color: transparent;
        border: 1px solid black;
        font-size: 1rem;
        padding: 1px;
    }
    
    .submit-button{ 
        padding: 10px 20px;
        background-color: transparent;
        border: solid black 1px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .submit-button:hover{ 
        cursor: pointer;
        color: white;
        background-color: black;
    } 
    .social-logos>a{
        height: 40px; 
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}
@media print { 
    .left-nav a{
        display: none; 
    }
}